# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
.venv/

# IDE settings (PyCharm, VSCode)
.idea/
.vscode/

# Ignore incoming/output files
incoming_files/
success_files/
rejected_files/

# Ignore credentials or secret files
.env

# Mac and Windows system files
.DS_Store
Thumbs.db
